

.about-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 50px;
  background-color: #fff;
  border: 2px solid #004d1a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-heading h1 {
  color:black;
  text-align: center;
  font-size: 2.5rem;

  font-weight: bold;
}

.about-container span {
  font-size: 1.8rem;
  color: #c28a30;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: -30px;
  padding: 10px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
  color: black;
}