/* Hero Section Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.home-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.hero-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  background:radial-gradient(circle, #dddbdb, #464545) !important; 

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  
 
}

/* Left Section */
.left-content {
  flex: 1;
  margin-right: 40px;
}

.feature-circle {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.circle-item {
  width: 180px; 
  height: 180px; 
  background: radial-gradient(circle, #edecec, #bcbbbb);
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color:black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  animation: rotateCircle 5s linear infinite;
}
/* Revolving animation */
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle-item p{
  
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.circle-item:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
  background: radial-gradient(circle, #d9d9d9, #949393); 
  border: 1px solid rgb(44, 43, 43);
  color:bl;
}

.text-content {
  overflow: hidden;
}
.text-content h2,
.text-content h3 {
  position: relative; 
  opacity: 0; 
 
}
.text-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  animation: slideInLeft 1s ease-out forwards;
  margin-left: 20px;
}

.text-content h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color:white;
  line-height: 1.5;
  text-decoration: solid;
  animation: slideInRight 1s ease-out forwards; /* Animation for h3 */
  animation-delay: 0.5s; 
  margin-left: 80px;
  font-style: italic;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%); /* Start off-screen */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End in original position */
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%); 
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End in original position */
    opacity: 1;
  }
}

/* Right Section */
.right-content {
  flex: 1;
  position: relative;
  display: block; 
}

.slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: block; /* Ensure slideshow is visible */
  visibility: visible; /* Make sure it's not hidden */
  
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  display: block;
  opacity: 1;
  z-index: 2;
}
.slide.next {
  opacity: 0.5; 
  z-index: 1; 
}
/* First image (1st child) */
.slideshow img:nth-child(1) {
  object-fit: contain;
  width: 100%;
  max-width: 700px !important;
  height: 450px !important;
  margin-top: -30px;
}

/* Second image (2nd child) */
.slideshow img:nth-child(2) {
  object-fit: contain;
  width: 100%;
  max-width: 700px !important;
  height: 420px !important;
 
}

/* Third image (3rd child) */
.slideshow img:nth-child(3) {
  object-fit: contain;
  width: 90%;
}

/* Add more styles for other nth-child as needed */
.slideshow img:nth-child(4) {
  object-fit: contain;
  width: 100%;
  max-width: 700px !important;
  height: 420px !important;
}
.slideshow img:nth-child(5) {
  object-fit: contain;
  width: 100%;
  max-width: 700px !important;
  height: 420px !important;
}
.slideshow img:nth-child(6) {
  object-fit: contain;
  width: 100%;
  max-width: 700px !important;
  height: 420px !important;
}

.slideshow img:nth-child(7) {
  object-fit: contain;
 
  width: 900px !important;
  height: 600px !important;
  margin-top: -100px !important;
  margin-left: -50px !important;
}
.slideshow img:nth-child(8) {
  object-fit: contain;
  width: 100%;
  max-width: 700px !important;
  height: 420px !important;
}

/* About Section */
.triangle-div {
  /* background-color: #bc865a; */
  background:radial-gradient(circle, #ffe9d8, #bc865a) !important; 

}

.about-us-section {
  position: relative;
  overflow: hidden;
  padding: 60px 50px; 
  background: #f9f9f9; 
  position: relative;
  clip-path: polygon(0% 0%, 75% 10%, 100% 150%, 0% 100%, 0% 0%); 
}

.about-us-section h2 {

  font-size: 2rem; 
  color: black ; /* Dark color */
  font-weight: bold;
  padding: 10px;
  margin-top: -25px;
  margin-left: 40px;
 
}
.about-para{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 700px;
margin-left: 40px;

}

.about-us-section p {
  font-size: 16px;
  color: black;
  line-height: 1.6; 
  margin-bottom: 20px; 
  text-align: justify; 
}

.about-us-section hr {
  width: 50%; 
  border: none; 
  height: 3px;
  background-color: #bc865a;
  margin: 0;
}
/* Container for positioning */
.square-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}

/* Square Button Style */
.square-button {

  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color:white;
background-color: #004226;
  border: 2px solid #004226;
  transition: all 0.3s ease-in-out;
}

/* Hover Effects */
.square-button:hover {
  background-color:#bc865a;
  color:black;
  font-size: 18px;
  transform: scale(1.0); /* Slightly enlarges the button on hover */
}

/* Product Section */
/* 
.Product-section {
background-color:whitesmoke;
 
}

.Product-section h2 {
  font-size: 2.5rem;
  color:black; 
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 40px;
  text-transform: uppercase;
}

.Product-section hr {
  width: 50%; 
  border: none; 
  height: 3px;
  background-color: #004226 ;
  margin: 0;
}

.product-item {
  text-align: center;
 
  border-radius: 10px;
  padding: 0 50px ;
  gap: 40px;
}

.product-item img {
  background-color: whitesmoke;
  max-width: 100%;
  height: 400px;
  padding: 0 20px;


}

.product-item img:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.product-description h4 {
  font-size: 1.2em;
  color:black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-button {
  background-color: #bc865a;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #a05d4a;
} */

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .about-us-section {
    padding: 30px 20px;
  }

  .about-us-section h2 {
    font-size: 2rem;
    padding: 20px;
  }

  .about-us-section p {
    font-size: 16px; 
  }
}





/* Media Query for Screens Smaller than 768px */
@media (max-width: 780px) {
  .hero-section {
    flex-direction: column; 
    padding: 10px;
  }
  .about-us-section {
    clip-path: none; 
    padding: 40px;
  }
.about-para{
width: 700px;
margin-left: -30px;

}
  .left-content,
  .right-content {
    width: 100%; /* Make both sections take full width */
    margin: 0 auto;
  }
  .circle-item {
    width: 120px; /* Reduce width */
    height: 120px; /* Reduce height */
    border-radius: 50%; /* Maintain circular shape */
  }
  .slideshow {
    width: 100%;
    height: 400px !important; /* Adjust height dynamically */
    margin-top: 20px; /* Add some spacing between sections */
  }

  .slide {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: none;
    opacity: 0; 
  }

}

/* Media Query for Screens Smaller than 480px */
@media (max-width: 480px) {
  .hero-section {
    flex-direction: column;
    padding: 20px;
  }

  .left-content {
    margin-bottom: 20px; /* Add space between left and right content */
  }
  .circle-item {
    width: 100px; /* Adjust width for very small screens */
    height: 100px; 
    border-radius: 50%; 
    font-size: 14px;
  }
  .slideshow {
    width: 100%;
    height: 400px !important; /* Adjust height dynamically */
    margin-top: 20px; /* Add some spacing between sections */
  }

  .slide {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: none;
    opacity: 0; 
  }
  .about-us-section {
    clip-path: none; 
    padding: 40px;
  }
.about-para{
margin-top: -150px;
padding: 140px;
margin-left: -150px;
margin-bottom: -150px;
}
}

@media (max-width: 1040px) {
 
  .about-us-section {
    clip-path: none; 
    padding: 40px;
  }

}

/* Media Query for Screens Close to 500px */
@media (max-width: 800px) and (min-width: 300px) {
  .about-us-section {
    clip-path: none; 
    padding: 30px 20px;
  }
  .about-us-section h2 {
    font-size: 2rem; 
    margin-left: 20px;
  }
  .about-para {
    width: 100%; /* Take full width */
    padding: 10px; /* Add padding for better readability */
    margin-left: 0; /* Align center */
    text-align: center; /* Center text */
    margin: 1px;
  }
  .about-us-section p {
    font-size: 16px; /* Adjust paragraph font size */
    line-height: 1.4; /* Slightly decrease line spacing */
    margin-bottom: 10px; /* Reduce bottom margin */
  }
  .square-button-container {
    justify-content: center; /* Center the button */
  }
  .square-button {
    width: 130px; /* Reduce button size */
    height: 35px; /* Adjust button height */
    font-size: 16px; /* Reduce font size */
  }
}


/**/
