/* Footer Section */
.footer-section {
  background-color:#095d40 ; 
  padding: 20px 20px ;
  color: white;

}

.footer-col h5 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 5px 0;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color:#bc865a; 
  text-decoration: underline;
}


.contact-address {

  border-radius: 8px;
 
  margin-top: 20px;
}

.address-item {
  margin-bottom: 20px;
}

.address-item h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color:  #bc865a; /* Dark green for headers */
  margin-bottom: 10px;
}

.address-item p {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
}

.address-item p br {
  display: block;
  margin-bottom: 5px;
}
.address-item a {
 padding: 10px;
  margin-top: 10px;
  color: #bc865a;
}

/* Phone and Email Section */
.Contact-info {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; /* Distribute space evenly between items */
  
  padding: 15px;
  background: linear-gradient(145deg, #bc865a, #004226); /* Gradient background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  max-width: 300px; /* Max width to avoid stretching */
  
}

.Contact-item {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  color: white;
  font-size: 1rem;
  text-decoration: none; 
  padding: 8px 8px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.Contact-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slight background color on hover */
  color: #f9f9f9; /* Change text color on hover */
}

.icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 1.5rem; /* Larger icon size */
}


.social-media {
  display: flex;
  gap: 30px;
}
.social-icon {
  font-size: 2.5rem;  /* Increased icon size */
  color: white;
  text-decoration: none;
  border-radius: 50%;
  
}
.social-icons{
 
  color: white;
  text-decoration: none;
margin-top: -10px;
  border-radius: 50%;
}
.social-icons:hover{
  color: black; 
}
/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: white !important;
}
.text-center{
  text-align: center;
  color: white !important;
}
.footer-bottom .bitshine-link {
  color: white;
}

.footer-bottom .bitshine-link:hover {
  color:#bc865a;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-col {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-bottom {
    text-align: center;
  }
}
